[submodule "themes/AllinOne"]
	path = themes/AllinOne
	url = https://github.com/orianna-zzo/AllinOne.git
[submodule "sfdvw.github.io"]
	path = sfdvw.github.io
	url = https://github.com/sfdvw/sfdvw.github.io.git
